# Visual Studio Code
.vscode

# Text html files
*.html
*.htm

# Build folder
build/
*.o

# Bundle files
tekstitv
tekstitv.zip

# Generated makefile
Makefile

# Generated .deb control file
DEBIAN/control

# Third party
third_party/curl
third_party/SDL
third_party/SDL_ttf

# ini file created by imgui
imgui.ini

# Test files
tests/*.test
!tests/**/*.htm
