# Visual Studio Code
.vscode

# Text html files
*.html
*.htm

# Build folder
build/

# Generated makefile
Makefile

# Generated .deb control file
DEBIAN/control

# Test files
tests/*.test
!tests/**/*.htm
